.content{
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: repeat(7,auto);
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 1.5rem;

    @media only screen  and(max-width: 43.75em){
        grid-template-columns:auto;
    }

    // grid-template-columns: auto auto;
    // grid-template-rows: repeat(auto-fill, minmax(auto,1fr));
}